.background-image {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/PWR-Hero.jpeg');
    background-size: cover;
    background-position: top;
    opacity: 0.2;
    z-index: -1;
}

.background-image h1, h4 {
    position: relative; /* To keep it above the background */
    text-align: center;
  }

.background-image p {
    text-align: center;
    text-indent: 50px;
    letter-spacing: 3px;
    font-size: 20px;
  }

.background-image section {
    margin: 20px;
    margin-right: 20px;
    padding: 20px;
  }